/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo personalizado para la sección de héroe */
.bg-hero-pattern {
  background-image: url('/src/assets//hero-image.jpg');
}

/* Animaciones personalizadas */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 2s ease-in-out;
}

/* Animación de rebote personalizada */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce {
  animation: bounce 2s infinite;
}
